<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Danh sach yeu cau</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="container">
    <h1 class="my-5">Danh sách yêu cầu</h1>
    <table class="table table-sm">
      <thead>
        <th>STT</th>
        <th>Đối tác</th>
        <th>Người dùng</th>
        <th>Thời gian</th>
        <th>Thao tác</th>
      </thead>
      <tbody>
      {% for order in all_orders %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ order.service_id.name }}</td>
          <td>{{ order.user_id.name}}</td>
          <td>{{ order.time }}</td>
          <td><a href="{{ url_for('edit_order', order = order.id) }}">Phê duyệt yêu cầu</a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </body>
</html>
