<div class="bg-white pb-5">
  <h2 class="text-center py-5">Các gói dịch vụ</h2>

  <div class="container d-flex justify-content-between">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header bg-c1c1c1 font-18px text-white font-roboto">Gói cơ bản</div>
      <div class="card-body">
        <p class="card-text font-13px">Dẫn bạn về ra mắt</p>
        <p class="card-text font-13px">Ăn cơm cùng gia đình</p>
        <p class="card-text text-secondary font-13px">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
        <p class="card-text text-secondary font-13px">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
      </div>
      <div class="card-header d-flex justify-content-end border-top">
        <button type="button" class="btn btn-dark btn-sm"><i class="fas fa-heart"></i>&nbsp;&nbsp;Tìm hiểu thêm</button>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header bg-secondary font-18px text-white font-roboto">Gói tiêu chuẩn</div>
      <div class="card-body">
        <p class="card-text font-13px">Dẫn bạn về ra mắt</p>
        <p class="card-text font-13px">Ăn cơm cùng gia đình</p>
        <p class="card-text font-13px">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
        <p class="card-text text-secondary font-13px">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
      </div>
      <div class="card-header d-flex justify-content-end border-top">
        <button type="button" class="btn btn-dark btn-sm"><i class="fas fa-heart"></i>&nbsp;&nbsp;Tìm hiểu thêm</button>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header bg-dark font-18px text-white font-roboto">Gói cao cấp</div>
      <div class="card-body">
        <p class="card-text font-13px">Dẫn bạn về ra mắt</p>
        <p class="card-text font-13px">Ăn cơm cùng gia đình</p>
        <p class="card-text font-13px">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
        <p class="card-text font-13px">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
        <p class="card-text font-13px text-info">Và nhiều ưu đãi bất ngờ khác</p>
      </div>
      <div class="card-header d-flex justify-content-end border-top">
        <button type="button" class="btn btn-dark btn-sm"><i class="fas fa-heart"></i>&nbsp;&nbsp;Tìm hiểu thêm</button>
      </div>
    </div>
  </div>

</div>
