<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BMI</title>
  </head>
  <body>
    {% if bmi < 16 %}
      <p>BMI = {{ bmi }}. Your condition: Severely underweight</p>
    {% elif bmi < 18.5 %}
      <p>BMI = {{ bmi }}. Your condition: Underweight</p>
    {% elif bmi < 25 %}
      <p>BMI = {{ bmi }}. Your condition: Normal</p>
    {% elif bmi < 30 %}
      <p>BMI = {{ bmi }}. Your condition: Overweight</p>
    {% else %}
      <p>BMI = {{ bmi }}. Your condition: Obese</p>
    {% endif %}
  </body>
</html>
